body {
  transition: background-color 1.2s;
}

footer {
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

.darkmode {
  color: #2f2f2f;
  background-color: #efefef;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 62px;
  height: 35px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #313131;
  transition: 0.4s;
  border: 1px solid #628d9e;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: #628d9e;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #74cef4;
  border: 1px solid transparent;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

.clickme {
  font-family: "Gloock", serif;
  font-size: 0.7em;
  color: #628d9e;
  text-align: center;
  margin-top: 20px;
}
